{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'backlog/sprint_form.css' %}?v=2">
<style>
  .page-title__text::before{
    background-image: url("{% static 'backlog/icons/Spring.png' %}");
  }
</style>
{% endblock %}

{% block content %}
<div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;">
  <h2>➕ Nuevo Sprint</h2>
  <div>
    <a href="{% url 'backlog_lista' %}" class="btn btn-secondary">↩️ Volver</a>
  </div>
</div>

<form method="post" style="max-width:520px;">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div style="margin-bottom:12px;">
    <label for="{{ form.nombre.id_for_label }}"><strong>Nombre</strong></label><br>
    {{ form.nombre }}
    {{ form.nombre.errors }}
  </div>

  <div style="margin-bottom:12px;">
    <label for="{{ form.inicio.id_for_label }}"><strong>Inicio</strong></label><br>
    {{ form.inicio }}
    {{ form.inicio.errors }}
  </div>

  <div style="margin-bottom:12px;">
    <label for="{{ form.fin.id_for_label }}"><strong>Fin</strong></label><br>
    {{ form.fin }}
    {{ form.fin.errors }}
  </div>

  <button type="submit" class="btn btn-primary">💾 Guardar</button>
  <a href="{% url 'sprint_list' %}" class="btn btn-secondary">⬅️Ir a sprints</a>
</form>
{% endblock %}